* {
    font-size: 20px;
    font-family: 'Caveat', cursive;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("img/background.jpg");
}

#game {
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 500px;
    border: rgb(66, 66, 66) solid 5px;
}

#top {
    height: 50%;
    display: flex;
    justify-content: center;
    width: 100%;
    border-bottom: rgb(66, 66, 66) solid 5px;
}

#top__image {
    height: 100%;
}

#game_state {
    font-size: 30px;
}

#input {
    border-radius: 10px;
    margin-bottom: 30px;
    width: 50%;
    border: rgb(66, 66, 66) solid 4px;
    height: 30px;
}

#check {
    border-radius: 10px;
    background-color: white;
    border: rgb(66, 66, 66) solid 4px;
    margin-bottom: 10px;
    transition: background-color 0.2s;
}

#check:hover {
    cursor: pointer;
    background-color: rgb(216, 216, 216);
}

#restart {
    border-radius: 10px;
    border: rgb(66, 66, 66) solid 4px;
}

#rules {
    text-align: center;
    display: flex;
    border-radius: 10px;
    flex-direction: column;
    width: 50%;
    background-color: white;
    margin-top: 10px;
    border: rgb(66, 66, 66) solid 5px;
}

#rules__header {
    background-color: white;
    border-radius: 10px;
    border-bottom: rgb(66, 66, 66) solid 5px;
}

#rules__text {
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
}